<div style="background-color:rgb(211, 211, 211);" class="container">
    {{>productsForm}}


    <br>
    <div class="container" >
        <h1>Vista de productos</h1>
        <div class="container">

            <table id="prdList">
                
            </table>

        </div>
    </div>

</div>
<br>
<div style="background-color:rgb(211, 211, 211);" class="container">
    <h2>Centro de Mensajes</h2>

    {{>chatForm}}

    <div class="container">

        <table id="msgList">
        </table>

    </div>

</div>
